html {
  font-size: 30px;
  background-color: thistle;
  color: whitesmoke;
}
hr {
  width: 50%;
}
.pli {
  list-style: none;
  display: inline-table;
  padding: 3% 15%;
}

.projimg {
  border-radius: 9%;
  width: 250px;
  height: 525px;
  float: left;
  margin: 0% 5% 0 0%;
}

.aliceblue {
  color: aliceblue;
  text-decoration: none;
}
.centerposition {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.small {
  font-size: 0.75rem;
}
.bold {
  font-weight: bold;
}
.pglinks {
  float: right;
  margin-left: 20px;
  margin-top: 0px;
}
h1 {
  font-weight: bolder;
  text-align: center;
  color: slategrey;
  margin-bottom: 0px;
}
h2 {
  font-size: 1.5rem;
  color: slategray;
}
h3 {
  text-align: center;
  font-size: 1rem;
}
input {
  height: 1rem;
  width: 40vw;
}
input[type="text"] {
  background: lightgray;
}
textarea {
  width: 40vw;
  background: lightgray;
}
button {
  width: 3rem;
  padding: 10px;
}
button:hover {
  background: gray;
}
#profilepic {
  max-width: 100%;
  height: 250px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: gray;
  border-style: double;
}
